@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

/* common styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: "Nunito Sans", "Futura", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  text-shadow: 0.3rem 0.3rem 0.3rem rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* end of common styles */

/* navbar */

.navbar {
  width: 100%;
  height: 14rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='31' height='31' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(44)'%3E%3Crect width='100%25' height='100%25' fill='rgba(144, 205, 244,1)'/%3E%3Ccircle cx='-12' cy='15' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='-2' cy='25' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='8' cy='15' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='28' cy='15' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='18' cy='25' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='38' cy='25' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='15' cy='15' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='35' cy='15' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='5' cy='25' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='25' cy='25' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.30000000000000004' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='5' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.6000000000000001' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='3' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  position: fixed;
  top: -14rem;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(255, 0, 255);
  transition: top 0.425s;
}

.navbar.sparklebangs {
  top: 0;
  transition: top 0.4s 0.2s;
}

.navbar-link {
  color: rgb(255, 0, 255);
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0.2rem 0.2rem 0.2rem rgb(0, 0, 0);
  opacity: 0;
  transition: all 0.3s, opacity 0.2s;
}

.sparklebangs .navbar-link {
  opacity: 1;
}

.sparklebangs .navbar-link:nth-child(1) {
  transition: opacity 0.4s 0.5s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(2) {
  transition: opacity 0.4s 0.6s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(3) {
  transition: opacity 0.4s 0.7s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(4) {
  transition: opacity 0.4s 0.8s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(5) {
  transition: opacity 0.4s 0.9s, color 0.3s;
}

.navbar-link:hover {
  color: rgb(0, 255, 255);
}

.navbar-link i {
  font-size: 7rem;
}

.navbar-link span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}

.menu {
  width: 4rem;
  height: 6rem;
  background: rgb(247, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(247, 255, 0, 1) 0%,
    rgba(2, 0, 36, 1) 7%,
    rgba(255, 255, 0, 1) 49%,
    rgba(15, 15, 0, 1) 93%,
    rgba(255, 250, 0, 1) 100%
  );
  position: fixed;
  top: 1rem;
  left: 5rem;
  border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #390039;
  cursor: pointer;
  transition: top 0.4s 0.2s;
  z-index: 9;
}

.menu.sparklebangs {
  top: 15rem;
  transition: top 0.4s;
}

.menu::before {
  content: "";
  width: 0.3rem;
  height: 15rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='31' height='31' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(44)'%3E%3Crect width='100%25' height='100%25' fill='rgba(144, 205, 244,1)'/%3E%3Ccircle cx='-12' cy='15' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='-2' cy='25' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='8' cy='15' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='28' cy='15' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='18' cy='25' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='38' cy='25' r='3' fill='rgba(72, 187, 120,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='15' cy='15' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='35' cy='15' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='5' cy='25' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='25' cy='25' r='5' fill='rgba(246, 173, 85,1)' filter='url(%23filter-doodad-2)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.30000000000000004' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='5' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.6000000000000001' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='3' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
  box-shadow: 0.1rem 0 0.1rem #000;
}

.menu::after {
  content: "";
  position: absolute;
  top: 6.5rem;
  left: -1.55rem;
  /* z-index: 234; */
  font-size: 3rem;
  font-weight: 900;
  color: yellow;
  text-shadow: 0.3rem 0.3rem 0.1rem rgb(70, 0, 70);
}

/* end of navbar */

/* section 1 */

.section-1 {
  width: 100%;
  height: 100vh;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='29' height='29' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='%23702459'/%3E%3Cpath d='M0 8.5a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 0 8.5 8.5v3a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5z' fill='%23f6e05e'/%3E%3Cpath d='M20 28.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5zM20 68.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5z' fill='%23d69e2e'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20rem;
}

.section-1-icons i {
  font-size: 35rem;
  color: pink;
  text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.9);
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;

  margin-top: 7rem;
}

.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}

/* end of section 1 */

/* section 2 */

.section-2 {
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='39' height='39' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(242)'%3E%3Crect width='100%25' height='100%25' fill='rgba(72, 187, 120,1)'/%3E%3Cpath d='M0 5h40v6h-40zM0 15h40v6h-40zM0 25h40v6h-40zM0 35h40v6h-40z' fill='rgba(237, 100, 166,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M 20 5a 15 15 0 0 0 0 30a 15 15 0 0 0 0-30zM-10-10h 60v 60h-60z' fill='rgba(190, 227, 248,1)' filter='url(%23filter-doodad-2)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.01 0.5' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='10' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-1'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.01 0.15' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='15' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-1.5'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 0;
}

.two {
  color: rgb(255, 0, 255);
  text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 255, 115, 0.9);
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30rem;
  background-color: rgb(0, 183, 255);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1rem rgba(0, 255, 115, 0.9);
  position: relative;
  transform: rotateY(20deg) skewX(-2deg);
  transition: all 0.5s;
}

.card:hover {
  transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
  box-shadow: 2rem 2rem 2rem #000;
}

.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: rgb(86, 167, 199);
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
  box-shadow: -0.1rem -0.1rem -0.1rem #000;
}

.card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background-color: rgb(92, 182, 218);
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewx(45deg);
  transform-origin: bottom;
  box-shadow: -0.1rem -0.1rem -0.1rem #000;
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: rgb(0, 50, 50);
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem rgb(255, 0, 255);
}

.card-btn:link,
.card-btn:visited {
  width: 70%;
  background-color: rgb(65, 0, 65);
  color: rgb(254, 205, 254);
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  text-align: center;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  box-shadow: -0.2rem -0.2rem 0.2rem rgb(254, 205, 254);
  transition: all 0.2s;
}

.card-btn:hover,
.card-btn:active {
  box-shadow: -0.05rem -0.05rem 0.2rem rgb(254, 205, 254);
  background-color: rgb(125, 0, 125);
  color: rgb(0, 255, 255);
}

/* end of section 2 */

/* section 3 */

.section-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='25' height='25' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(306)'%3E%3Crect width='100%25' height='100%25' fill='rgba(49, 130, 206,1)'/%3E%3Cpath d='M-20 40l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 0l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 80l20-20l20 20l20-20l20 20l20-20l20 20v-20l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='rgba(236, 201, 75,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M-20 34l20-20l20 20l20-20l20 20l20-20l20 20v-6l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20-6l20-20l20 20l20-20l20 20l20-20l20 20v-6l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 74l20-20l20 20l20-20l20 20l20-20l20 20v-6l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='rgba(163, 191, 250,1)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.01 0.45' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='17' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-1.7'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  padding: 5rem 0;
}

.edible {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.gallery-link {
  position: relative;
  margin: 4rem 1rem;
}

.gallery-link::before {
  content: "";
  position: absolute;
  top: 2vw;
  left: 80%;
  width: 0.2rem;
  height: 0;
  background-color: aliceblue;
  transition: height 0.5s;
}

.gallery-link:hover::before {
  height: 80%;
  z-index: 999;
}

.gallery-link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 0;
  height: 0.2rem;
  background-color: aliceblue;
  transition: width 0.5s;
}

.gallery-link:hover::after {
  width: 90%;
  z-index: 998;
}

.food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem rgb(255, 0, 0),
    0.5rem 0.5rem 0.1rem rgb(170, 0, 255),
    0.7rem 0.7rem 0.1rem rgba(0, 255, 115, 0.9),
    0.9rem 0.9rem 0.1rem rgb(255, 132, 0);
  transition: all 0.5s;
}

.gallery-link:hover .food-img {
  box-shadow: 1rem 1rem 0.1rem rgb(255, 0, 0), 2rem 2rem 0.1rem rgb(170, 0, 255),
    3rem 3rem 0.1rem rgba(0, 255, 115, 0.9), 4rem 4rem 0.1rem rgb(255, 132, 0);
  filter: brightness(35%) blur(0.2rem) sepia(25%);
  opacity: 1;
  transform: scale(1.1);
}

.food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: aliceblue;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 1.5s 0.5s;
}

.food-description {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: aliceblue;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}

/* end of section 3 */

/* section 4 */
.section-4 {
  position: relative;
  width: 100%;
  height: 30vh;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='34' height='34' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(250)'%3E%3Crect width='100%25' height='100%25' fill='rgba(99, 179, 237,1)'/%3E%3Cpath d='M-20 33.5l20-20l20 20l20-20l20 20l20-20l20 20v-7l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20-6.5l20-20l20 20l20-20l20 20l20-20l20 20v-7l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 73.5l20-20l20 20l20-20l20 20l20-20l20 20v-7l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='rgba(254, 252, 191,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M22.5-3l20 20l-20 20l20 20l-20 20l20 20l-20 20h-5l20-20l-20-20l20-20l-20-20l20-20l-20-20zM-17.5-3l20 20l-20 20l20 20l-20 20l20 20l-20 20h-5l20-20l-20-20l20-20l-20-20l20-20l-20-20zM62.5-3l20 20l-20 20l20 20l-20 20l20 20l-20 20h-5l20-20l-20-20l20-20l-20-20l20-20l-20-20z ' fill='rgba(252, 129, 129,1)' filter='url(%23filter-doodad-2)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.01 0.25' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='15' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-1.5'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.01 0.15' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='10' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-1'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  align-items: flex-start;
}

.section-4-text {
  text-transform: uppercase;
}

.section-4-heading {
  display: inline-block;
  font-size: 4rem;
  font-weight: 900;
  color: rgb(255, 0, 247);
  background-color: aqua;
  padding: 0 1rem 0 1rem;
  line-height: 1.2;
  align-items: center;
  transform: skewX(-20deg);
}

.section-4-paragraph {
  font-size: 1.5rem;
  color: aqua;
  background-color: rgb(255, 0, 247);
  transform: skewX(20deg) translateX(-0.5rem);
  padding: 0 1rem 0 1rem;
  line-height: 1.5;
  font-weight: 900;
}

.signup-form {
  display: flex;
  align-items: center;
}

.signup-form-input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.5rem solid aqua;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: rgb(0, 103, 103);
}

.signup-form-input::placeholder {
  color: rgb(255, 0, 247);
}

.signup-form-btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: rgb(82, 0, 79);
  color: rgb(2, 175, 175);
  border: none;
  font-size: 1.8rem;
}

.copyright {
  position: absolute;
  bottom: 3rem;
  font-size: 1.7rem;
  /* background-color: rgba(1, 233, 250, 0.701); */
  padding: 0 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  /* transform: skewX(7deg); */
  border-top: 0.1rem solid aqua;
  padding-top: 6rem;
  width: 100%;
  text-align: center;
}

.year {
  font-weight: 700;
}

/* end of section 4 */

/* responsive styling */

@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }

  .section-2 {
    height: auto;
    padding: 10rem 0 12rem 0;
  }

  .cards-container {
    margin-top: 10rem;
  }

  .gallery-link {
    width: 40rem;
    height: 25rem;
    margin: 5rem;
  }

  .food-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .section-heading {
    font-size: 9rem;
    margin: 0 5rem;
  }

  .section-1-icons i {
    font-size: 25rem;
  }

  .cards-container {
    flex-wrap: wrap;
  }

  .card {
    margin: 5rem;
  }

  .section-4 {
    height: 30rem;
  }
}

@media (max-width: 900px) {
  .navbar-link {
    margin: 2rem;
  }

  .navbar-link i {
    font-size: 4rem;
  }

  .navbar-link span {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

@media (max-width: 700px) {
  .section-heading {
    font-size: 7rem;
    margin: 0 10rem;
  }

  .section-1-icons i {
    font-size: 20rem;
  }

  .menu {
    left: 2rem;
  }

  .navbar-link {
    margin: 1rem;
  }

  .navbar-link i {
    font-size: 3.5rem;
  }

  .navbar-link span {
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  .section-4 {
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }

  .navbar-link {
    margin: 0 0.7rem;
  }

  .navbar-link i {
    font-size: 4.5rem;
  }

  .navbar-link span {
    font-size: 1.35rem;
    text-transform: uppercase;
  }
}

/* end of responsive design */
